<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/loginStyle.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!--<script src="javascripts/app.js"></script>-->


</head>

<body>
    <form method="post" action="/login">
        <div class="box">
            <h1>Login</h1>

            <input type="text" placeholder="Username" class="input" name="username"/>
            <input type="password" placeholder="Password" class="input" name="password"/>

            <!--<a class="button">-->
            <!--    <div class="btn">Sign In</div>-->
            <!--</a>-->
            <input type="submit" class="btn" value="Sign In">
            
            
            <!-- End Btn -->

            <!--<a class="button" href="signup.html">-->
            <!--    <div id="btn2">Sign Up</div>-->
            <!--</a>-->
            <!-- End Btn2 -->

        </div>
        <div><a href="/signup">No account? Sign up</a></div>
        <!-- End Box -->
    </form>
    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="javascripts/loginJquery.js"></script>
</body>

</html>
