body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.sidebar {
  padding: 10px;
  float: left;
  height: 50em;
  width: 18%;
  margin-right: 15px;
  background-color: #4788ef;
}

.mainContent {
  float: left;
  background-color: #4788ef;
  width: 80%;
  height: 50em;
  padding: 15px;
}

.navbar {
  margin-bottom: 10px;
  position: relative;
}

.logout {
  position: absolute;
  right: 5px;
}

/*.loggedIn {*/
/*  position: absolute;*/
/*  right: 300px;*/
/*}*/

.btn-info {
  padding: 3px;
}

li {
  list-style-type: none;
}

img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 7px;
}

p {
  padding-top: 17px;
}

.postDisplay {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}